<!DOCTYPE html>
<html lang="en">

<head>
    
    {% include 'layout_content/head.html' %}

</head>
<header>

    {% include 'layout_content/header.html' %}

</header>
<body>

    <main role="main" class="flex-shrink-0">
        <div class="container">
            <!-- Flash messages loader -->
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} mt-5">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Page content loader -->
            {% block content %}
            {% endblock %}
        </div>
    </main>
    
    {% include 'layout_content/body.html' %}

</body>      
</html>