
<p class="lead">
    To protect all your queries, you have to create an account. 
    Don't worry! This will don't take much time and it don't 
    require sensible data nor even the email, but you can definitely
    use it as your username if you remember it better.
</p>
<p class="lead">
    Also, I know how annoying is to forcely protect something 
    when it's not so necessary. If you don't want to put a password
    you can leave it blank, but if you are doing sensible stuff or 
    saving important data that you want to use it, I recommend to 
    put a password.
</p>
