<!-- Navbar left -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"  aria-disabled="true">Pytom Searcher</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/PhoxSpark/pytom-project" target="_blank">GitHub Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://pypi.org/project/pytomproject/" target="_blank">PyPi Page</a>
            </li>
        </ul>
    </div>